@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', ui-sans-serif, sans-serif;
}

h1 {
  @apply text-3xl;
}

ol {
  @apply list-inside;
}

.list-decimal-zero {
  list-style: decimal-leading-zero;
  @apply list-inside;
}

li {
  @apply px-4;
  @apply py-5;
}

@media (min-width: 768px) {
  li {
    @apply px-12;
    @apply py-4;
  }
}

li:before {
  @apply text-gray-800;
  @apply dark:text-gray-100;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.underline:after {
  content: '';
  position: absolute;
  right: 0;
  width: 0;
  bottom: -3px;
  background-color: rgb(165, 180, 252, 1); /* equivalent to text-indigo-300 */
  height: 1px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  .underline.underline-link:after {
    background-color: rgb(2, 2, 2, 1); /* equivalent to text-gray-200 */
  }
}

@media (prefers-color-scheme: dark) {
  .underline.underline-link:after {
    background-color: rgb(229, 231, 235, 1); /* equivalent to text-gray-200 */
  }
}

.no-js .toggle-button {
  display: none;
}

.leading-12 {
  line-height: 3rem;
}
