@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', ui-sans-serif, sans-serif;
}

h1 {
  @apply text-3xl;
}

ol {
  @apply list-inside;
}

.list-decimal-zero {
  list-style: decimal-leading-zero;
  @apply list-inside;
}

li {
  @apply px-4;
  @apply py-5;
}

@media (min-width: 768px) {
  li {
    @apply px-12;
    @apply py-4;
  }
}

li:before {
  @apply text-gray-800;
  @apply dark:text-gray-100;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.underline:after {
  content: '';
  position: absolute;
  right: 0;
  width: 0;
  bottom: -3px;
  background-color: rgb(165, 180, 252, 1); /* equivalent to text-indigo-300 */
  height: 1px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0px;
  right: auto;
  width: 100%;
}

.underline-host.underline:hover:after,
.underline-host.underline:focus:after,
.underline-host.underline:active:after {
  left: 6px;
  right: auto;
  width: calc(100% - 12px);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (prefers-color-scheme: light) {
  .underline.underline-link:after {
    background-color: rgb(2, 2, 2, 1); /* equivalent to text-gray-200 */
  }
}

@media (prefers-color-scheme: dark) {
  .underline.underline-link:after {
    background-color: rgb(229, 231, 235, 1); /* equivalent to text-gray-200 */
  }
}

.no-js .toggle-button {
  display: none;
}

.leading-12 {
  line-height: 3rem;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff)
    format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

div.installed-pwa {
  z-index: 2;
}
