@import "tailwindcss";
body {
  font-family: 'Atkinson Hyperlegible', ui-sans-serif, sans-serif;
}
i,
em {
  @apply italic;
}
.list-decimal-zero {
  list-style: decimal-leading-zero;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.comment a {
  @apply break-all;
}
.comment a,
.post-body a {
  @apply text-indigo-700;
  @apply dark:text-indigo-300;
}
.underline,
.comment a,
.post-body a {
  @apply inline relative overflow-hidden no-underline;
}
.underline:after,
.comment a:after,
.post-body a:after {
  @apply content-[''] absolute w-0 bottom-[-3px] bg-indigo-300 h-px transition-[width] duration-[0.3s] ease-[ease-out] right-0;

  /* equivalent to text-indigo-300 */
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after,
.comment a:hover:after,
.comment a:focus:after,
.comment a:active:after,
.post-body a:hover:after,
.post-body a:focus:after,
.post-body a:active:after {
  @apply w-full left-0 right-auto;
}
.underline-host.underline:hover:after,
.underline-host.underline:focus:after,
.underline-host.underline:active:after {
  @apply w-[calc(100%_-_12px)] left-1.5 right-auto;
}
.subline span {
  @apply text-gray-500;
  @apply dark:text-gray-400;
}
.subline span:after {
  @apply content-['_|_'];
}
.subline span:last-child::after {
  @apply content-[unset];
}
@media screen and (max-width: 320px) {
  .subline span.score {
    @apply block after:content-[unset];
  }
}
@media screen and (max-width: 640px) {
  .subline span.byline:after {
    @apply content-[unset];
  }
}
@media (prefers-color-scheme: light) {
  .underline.underline-link:after {
    @apply bg-[rgb(2,2,2,1)];

    /* equivalent to text-gray-200 */
  }
}
@media (prefers-color-scheme: dark) {
  .underline.underline-link:after {
    @apply bg-gray-200;

    /* equivalent to text-gray-200 */
  }
}
.no-js .toggle-button {
  @apply hidden;
}
.leading-12 {
  @apply leading-[3rem];
}
pre {
  @apply whitespace-pre-wrap ml-6;
  word-wrap: break-word;
}

/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt43C1KxNDXMspQ1lPyU89-1h6ONRlW45G056IkUwCybQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt43C1KxNDXMspQ1lPyU89-1h6ONRlW45G056IqUwA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G07JIoSwQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
